{# app/Resources/views/agent.html.twig #}
{% extends 'base.html.twig' %}



{% block body %}
  
    <h1> {{ Yu }}</h1>
<form role="form" class="form">
        <div class="row">
              <div class="col-sm-2 col-md-2">
             {{parent()}}
	          </div>
</div>
</form>
{% endblock %}
